.mainBlock{
    &--container{
        @include container;
    }
    // Booking Selection
    &__selection{
        padding: 20px;
        background-color: $color-white;
        border-radius: 5px;
        @include responsive(md){
            padding: 25px;
        }
        @include responsive(xl){
            padding: 30px;
        }
        &--inner{
            @include responsive(md){
                margin: 0 -10px;
                display: flex;
                flex-wrap: wrap;
            }
        }
        .form{
            &__field{
                @include responsive(md){
                    width: calc(38% - 20px);
                    margin: 0 10px 20px;
                    align-self: flex-start;
                }
                &.first{
                    @include responsive(md){
                        width: calc(24% - 20px);
                    }
                }
            }
        }
    }
    .nearByTime{
        padding-top: 20px;
        @include responsive(md){
            padding-top: 30px;
        }
        &__list{
            display: flex;
            justify-content: center;
            &--item{
                margin: 3px;
                background-color: $color-blue;
                padding: 8px 15px;
                color: $color-white;
                border-radius: 3px;
                cursor: pointer;
                transition: background-color $time-fast;
                &:hover{
                    @include responsive(xl){
                        background-color: $color-blue-dark;
                    }
                }
            }
        }
    }
    // Booking Info
    &__booking{
        padding: 20px;
        background-color: $color-white;
        border-radius: 5px;
        display: none;
        @include responsive(md){
            padding: 25px;
        }
        @include responsive(xl){
            padding: 30px;
        }
        .mainBlock{
            &__timing{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                padding-bottom: 20px;
                &--back{
                    font-weight: $fw-medium;
                    border: none;
                    border-radius: 5px;
                    height: 40px;
                    padding: 0 20px;
                    background-color: $color-blue;
                    color: $color-white;
                    display: flex;
                    align-items: center;
                    transition: background-color $time-fast, color $time-fast;
                    cursor: pointer;
                    margin-right: 15px;
                    @include responsive(xl){
                        margin-right: 25px;
                    }
                    &:before{
                        content: "";
                        position: relative;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        border-top: 2px solid $color-white;
                        border-left: 2px solid $color-white;
                        transform: rotate(-45deg);
                        margin-right: 5px;
                        transition: left $time-fast;
                    }
                    &:hover{
                        @include responsive(xl){
                            background-color: $color-blue-dark;
                        }
                        &:before{
                            @include responsive(xl){
                                left: -5px;
                            }
                        }
                    }
                }
                &--time{
                    font-weight: $fw-sbold;
                    font-size: 20px;
                    color: $color-red;
                    @include responsive(xl){
                        font-size: 24px;
                    }
                }
            }
        }
        &--inner{
            @include responsive(md){
                margin: 0 -10px;
                display: flex;
                flex-wrap: wrap;
            }
            .form{
                &__field{
                    @include responsive(md){
                        width: calc(50% - 20px);
                        margin: 0 10px 20px;
                    }
                    &.full{
                        @include responsive(md){
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.poweredBy{
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-weight: $fw-medium;
    color: $color-grey;
    &--link{
        color: $color-blue;
        transition: color $time-fast;
        &:hover{
            @include responsive(xl){
                color: $color-red;
            }
        }
    }
}