// Color Variables
$color-black: #000000;
$color-black2: #222222;
$color-white: #ffffff;
$color-red: #e84118;
$color-blue: #00a8ff;
$color-blue-dark: #273c75;
$color-grey: #7f8fa6;
$color-grey-light: #dcdde1;
$color-green: #44bd32;

// Font Variables
$font-regular: 'Poppins', sans-serif;

// Font Weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-sbold: 600;
$fw-bold: 700;
$fw-ebold: 800;
$fw-black: 900;

// Animation Timing
$time-veryfast: .25s;
$time-fast: .5s;
$time-slow: 1s;